<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <style>
    body {
        font-family: 'Arial Narrow';
        background-color: rgb (207 205 201);
        margin: 0;
        padding: 0;
        text-align: center;
        background-image: url("/images/background.png");
    }
    header {
        background-color: RGB(212 181 158);
        color: #fff;
        text-align: center;
        padding: 20px;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    h1{ 
        font-family: 'Arial Narrow';
        color: RGB(95 64 41);
        text-transform: uppercase;

    }
    p{
        max-width: 300px;
        padding-left: 200px;
        text-align: center;
        font-family: Verdana;
        position: relative;
        top: 25px;
        color: black;
    }
    .logo{
      max-width: 125px;
      max-height: 125px;
      position: absolute;
      top: 20px;
      left: 200px;

    }
    ul{  
    padding:0;  
    background:RGB(95 64 41);  
    font-family:'Arial Narrow';  
    font: size 10px;  
    text-transform:uppercase;
}

a{  
    display:block;    
    color:white;  
    text-decoration:none;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(173, 130, 77);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}


.container {
  border-radius: 5px;
  background-color:RGB(212 181 158) ;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
    
</style>
</head>
<body>
  <header>
    <img src="/images/logo.jpg" class= "logo">

    <nav>
      <ul>
        <a href="/">Home</a>
        <a href="/about">About Me</a>
        <a href="/projects">Projects</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact Me</a>
      </ul>
    </nav>
  </header>
  
  <h1>Contact Me</h1>
  <div class="container">
    <div style="text-align:center">
    </div>
    <div class="row">
      <div class="column">
      </div>
      <div class="column">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="Your email..">

          </select>
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
  <div class="copyright"></span><span> Taleen Bedrosian. COMP229. 2023. 300939460.</span></div>
</body>
</html>

