<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <style>
    body {
        font-family: 'Arial Narrow';
        background-color: rgb (207 205 201);
        margin: 0;
        padding: 0;
        text-align: center;
        background-image: url("/images/background.png");
    }
    header {
        background-color: RGB(212 181 158);
        color: #fff;
        text-align: center;
        padding: 20px;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    h1{ 
        font-family: 'Arial Narrow';
        color: RGB(95 64 41);
        text-transform: uppercase;

    }
    p{
        max-width: 300px;
        padding-left: 200px;
        text-align: center;
        font-family: Verdana;
        position: relative;
        top: 25px;
        color: black;
    }
    .logo{
      max-width: 125px;
      max-height: 125px;
      position: absolute;
      top: 20px;
      left: 200px;

    }
    .family{
      max-width: 300px;
      max-height: 370px;
      position: absolute;
      top: 260px;
      left: 600px;
    }
    ul{  
    padding:0;  
    background:RGB(95 64 41);  
    font-family:'Arial Narrow';  
    font: size 10px;  
    text-transform:uppercase;
}

a{  
    display:block;    
    color:white;  
    text-decoration:none;
}
    
</style>
</head>
<body>
  <header>
    <img src="/images/logo.jpg" class= "logo">

    <nav>
      <ul>
        <a href="/">Home</a>
        <a href="/about">About Me</a>
        <a href="/projects">Projects</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact Me</a>
      </ul>
    </nav>
  </header>
  
  <h1>Portfolio Website</h1>
  <p>I am Taleen Bedrosian, a driven and creative individual on a lifelong journey of personal and professional growth. My mission is to harness my skills, knowledge, and experiences to make a positive impact on the world around me. Through continuous learning and innovation, I aspire to excel in my chosen field while embracing opportunities for collaboration and leadership.
    I am committed to pursuing excellence, pushing boundaries, and embracing challenges as stepping stones to success. With a strong foundation in Software Engineering. I also own two successful businesses, that I still continue to work on today.</p>
    <img src="/images/family.jpg" class="family">
    <div class="copyright"></span><span> Taleen Bedrosian. COMP229. 2023. 300939460.</span></div>

</body>
</html>
