<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects</title>
  <style>
    body {
        font-family: 'Arial Narrow';
        background-color: rgb (207 205 201);
        margin: 0;
        padding: 0;
        text-align: center;
        background-image: url("/images/background.png");
    }
    header {
        background-color: RGB(212 181 158);
        color: #fff;
        text-align: center;
        padding: 20px;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    h1{ 
        font-family: 'Arial Narrow';
        color: RGB(95 64 41);
        text-transform: uppercase;

    }
    p{
        max-width: 300px;
        padding-left: 200px;
        text-align: center;
        font-family: Verdana;
        position: relative;
        top: 25px;
        color: black;
    }
    .logo{
      max-width: 125px;
      max-height: 125px;
      position: absolute;
      top: 20px;
      left: 200px;

    }
    ul{  
    padding:0;  
    background:RGB(95 64 41);  
    font-family:'Arial Narrow';  
    font: size 10px;  
    text-transform:uppercase;
}

a{  
    display:block;    
    color:white;  
    text-decoration:none;
}
    
</style>
</head>
<body>
  <header>
    <img src="/images/logo.jpg" class= "logo">

    <nav>
      <ul>
        <a href="/">Home</a>
        <a href="/about">About Me</a>
        <a href="/projects">Projects</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact Me</a>
      </ul>
    </nav>
  </header>
  
  <h1>Projects</h1>
  <p>This is a project that I am currently working on. It is a website for my business. I own a decor company, where I specialize in balloon and floral decorations. I would like to make it more functional with a calendar option for my clients to book their dates.</p>
  <p>This is a project that I have just started, I want to build an app where people from all over the GTA can search a directory and find businesses near them all within the niche of parties. For example decor, dj, catering and so on. Each company listed on the app will show their rating, website, as well as price minimum.</p>
  <p>When I used to work as an ITCoordinator my team and I moved all of our ticketing system to JIRA. We created tables and workflows for each respective department within IT. This gave us better organization in terms of processing times and their priority levels.</p>
</body>
</html>

